<section class="container my-5">
    <h2 class="text-center mb-4">O Nama</h2>
    <div id="contentCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/images/example1.jpg" class="d-block w-100" alt="Example 1">
          <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 p-3 rounded">
            <h5>Naslov Slike 1</h5>
            <p>Kratak opis slike.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/images/example2.jpg" class="d-block w-100" alt="Example 2">
          <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 p-3 rounded">
            <h5>Naslov Slike 2</h5>
            <p>Kratak opis slike.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#contentCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#contentCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>
  </section>
  