<section class="container my-5">
    <h2 class="text-center mb-4">Naša Galerija</h2>
    <div class="row g-3">
      <div class="col-md-6">
        <img src="/images/gallery1.jpg" class="img-fluid rounded shadow" alt="Gallery Image 1">
        <p class="text-center mt-2">Opis slike 1</p>
      </div>
      <div class="col-md-3">
        <img src="/images/gallery2.jpg" class="img-fluid rounded shadow" alt="Gallery Image 2">
        <p class="text-center mt-2">Opis slike 2</p>
      </div>
      <div class="col-md-3">
        <img src="/images/gallery3.jpg" class="img-fluid rounded shadow" alt="Gallery Image 3">
        <p class="text-center mt-2">Opis slike 3</p>
      </div>
      <div class="col-md-6">
        <img src="/images/gallery4.jpg" class="img-fluid rounded shadow" alt="Gallery Image 4">
        <p class="text-center mt-2">Opis slike 4</p>
      </div>
    </div>
  </section>
  