---
import "../styles/global.css";
---

<footer class="text-white py-4" style="background-color: #9760E3;">
    <div class="container d-flex justify-content-between align-items-center">
      
      <div class="text-start">
        <img src="/images/univerzum-logo.png" alt="Vrtić Univerzum Logo" class="img-fluid" style="max-width: 80%; height: auto;" loading="lazy">
        <div class="social-links gap-4 d-flex justify-content-center mt-3">
          <a href="https://www.facebook.com/vrticuniverzum" target="_blank" aria-label="Facebook">
            <i class="bi bi-facebook"></i>
          </a>
          <a href="https://www.instagram.com/puuniverzum/" target="_blank" aria-label="Instagram">
            <i class="bi bi-instagram"></i>
          </a>
        </div>
      </div>
  
      
      <div class="text-center">
        <h1 class="mb-3 footer-text-header">Kontakt</h1>
        <div class="d-flex align-items-center">
          <i class="bi bi-geo-alt me-2"></i> 
          <p class="mb-0 footer-text">Bulevar Mihaila Pupina 165a</p>
        </div>
        <div class="d-flex align-items-center">
          <i class="bi bi-envelope me-2"></i> 
          <p class="mb-0 footer-text">info@vrticuniverzum.com</p>
        </div>
        <div class="d-flex align-items-center">
          <i class="bi bi-telephone me-2"></i> 
          <p class="mb-0 footer-text">011 2270632   064/6414766</p>
        </div>
        <br><br>
        <p class="mb-0 footer-text" >&copy; 2025 Vrtić Univerzum. All Rights Reserved.</p>
      </div>
  
      
      <div class="text-end">
        <img src="/images/logo_MP_w3.png" alt="Footer Image" class="img-fluid" style="max-width: 80%; height: auto;" loading="lazy"> 
      </div>
    </div>
  </footer>
  
  <style>
    
    .social-links {
    margin-top: 10px;
  }

  .social-links a {
    color: white;
    font-size: 24px;
    margin-right: 10px;
    transition: color 0.3s;
  }

  .social-links a:hover {
    color: #ddd;
  }
    .footer-text {
      font-size: 1rem;
    }

    .footer-text-header {
      font-size: 2rem; 
    }
  
    @media (max-width: 768px) {
      .footer-text {
        font-size: 0.8rem; /* Smaller font on tablets & mobile */
      }
    }
  
    @media (max-width: 480px) {
      .footer-text {
        font-size: 0.7rem; /* Even smaller on very small screens */
      }
    }
  </style>