<footer class="text-white py-4" style="background-color: #002349;">
    <div class="container d-flex justify-content-between align-items-center">
      <!-- Left Text (e.g., Copyright) -->
      <div class="text-start">
        <p class="mb-0">&copy; 2025 Vrtić Univerzum. All Rights Reserved.</p>
      </div>
  
      <!-- Center Logo -->
      <div class="text-center">
        <img src="/images/univerzum-logo.png" alt="Vrtić Univerzum Logo" style="max-height: 150px;">
      </div>
  
      <!-- Right Image -->
      <div class="text-end">
        <img src="/images/logo_MP_w3.png" alt="Footer Image" style="max-height: 150px;">
      </div>
    </div>
  </footer>
  