<section class="position-relative w-100 d-flex align-items-center justify-content-end text-white" style="height: 100vh; background-image: url('/images/senzorna_soba.jpg'); background-size: cover; background-position: center center; background-attachment: scroll;">
    <!-- Overlay to darken the background image -->
    <div class="position-absolute top-0 start-0 w-100 h-100  opacity-40"></div>
  
    <!-- Content in the Hero Section -->
    <div class="position-relative z-index-10 d-flex flex-column justify-content-center align-items-center text-center text-white ps-4 pe-4 me-5" style="height: 100vh;">
      <h1 class="display-3 fw-bold mb-4 animate__animated animate__fadeInRight">
        <span class="hero-text-top">Dobrodošli u</span>
          <br>
        <span class="text-univerzum glow">Univerzum</span>
      </h1>
      
    </div>
  </section>
  