---
import "../styles/global.css";
---

<section class="image-hover-cards-section" id="zaposleni">
      
    <div class="image-container">
        <div class="title-card">
          <h3 class="title-text">Zaposleni</h3>
        </div>
      </div>

    <div class="container">
      <div class="row">
        <!-- Card 1 -->
        <div class="col-md-4">
          <div class="card hover-card">
            <img src="/images/Milijana-Zelen.jpg" alt="Image 1" class="card-img" loading="lazy">
            <div class="overlay">
              <h4 class="overlay-title">Miljana Zelen</h4>
              <p class="overlay-text">Diplomirani Vaspitivač</p>
            </div>
          </div>
        </div>
  
        <!-- Card 2 -->
        <div class="col-md-4">
          <div class="card hover-card">
            <img src="/images/DPP_10321477.jpg" alt="Image 2" class="card-img" loading="lazy">
            <div class="overlay">
              <h4 class="overlay-title">Nena Ivković</h4>
              <p class="overlay-text">Osnivač</p>
            </div>
          </div>
        </div>
  
        <!-- Card 3 -->
        <div class="col-md-4">
          <div class="card hover-card">
            <img src="/images/Mirjana-Vujacic.jpg" alt="Image 3" class="card-img" loading="lazy">
            <div class="overlay">
              <h4 class="overlay-title">Mirjana Vujačić</h4>
              <p class="overlay-text">Finansijski Direktor</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <style>
    .title-text {
        color: #032D6C;
        margin-bottom: 50px;
        text-align: center;
        font-size: 2rem;
    }

    .image-hover-cards-section {
      padding: 50px 0;
    }
  
    .row {
      display: flex;
      gap: 20px;
      justify-content: center;
    }
  
    .hover-card {
      position: relative;
      width: 100%;
      height: 300px;
      overflow: hidden;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }
  
    .card-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      transition: transform 0.3s ease;
    }
  
    .hover-card:hover .card-img {
      transform: scale(1.1); 
    }
  
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      opacity: 0;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      transition: opacity 0.3s ease;
    }
  
    .hover-card:hover .overlay {
      opacity: 1;
    }
  
    .overlay-title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
    }
  
    .overlay-text {
      font-size: 16px;
      text-align: center;
    }
  
    @media (max-width: 768px) {
      .row {
        flex-direction: column;
        justify-content: center;
      }
    }
  </style>
  