---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import AstroParticles from "../components/Particles.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
import ContentTab from "../components/ContentTab.astro";
import ContentCarousel from "../components/ContentCarousel.astro";
import ContentGrid from "../components/ContentGrid.astro";
import ContentMasonry from "../components/ContentMasonry.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
  </head>


  <body>
    <Navbar />
    <Hero />
    <ContentTab />
    <!-- <ContentCarousel />
    <ContentGrid />
    <ContentMasonry /> -->
    <Footer />
  </body>
  <style>
    h1 {
      font-size: 2rem;
    }
  </style>
</html>